# Server Configuration
PORT=8081

# Auth Configuration (Better Auth)
# Generate a random secret for production (e.g., openssl rand -base64 32)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8081

# Database Configuration (Prisma/Postgres)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/bootcamp-treinos-api"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=